.b-products
  .b-products__item
    = image_tag 'blocks/b-products/wir-de-map.png', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        http://wir.de is a German social network. Neighbors in Germany use wir.de to share their unused personal belongings.
      = # link_to 'see details', '#', class: 'b-products__link'
  .b-products__item
    = image_tag 'blocks/b-products/namecheap.png', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        Namecheap makes registering, hosting, and managing domains for yourself or others easy and affordable
      = # link_to 'see details', '#', class: 'b-products__link'
  .b-products__item
    = image_tag 'blocks/b-products/meducci.jpg', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        Online Jewelry store, Russia
      = # link_to 'see details', '#', class: 'b-products__link'
  .b-products__item
    = image_tag 'blocks/b-products/olie_prev.jpg', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        Car Store Design, Denmark
      = # link_to 'see details', '#', class: 'b-products__link'
  .b-products__item
    = image_tag 'blocks/b-products/asian_secrets.jpg', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        Online store design, Korea
      = # link_to 'see details', '#', class: 'b-products__link'
  .b-products__item
    = image_tag 'blocks/b-products/teachme.png', class: 'b-products__ill', alt: 'Client', width: 350, height: 250
    .b-products__overlay
      .b-products__text
        Social network for skill sharing, Ukraine
      = # link_to 'see details', '#', class: 'b-products__link'
